# Confluent Cloud configuration
KAFKA_BOOTSTRAP_SERVERS=your_bootstrap_server
KAFKA_API_KEY=your_api_key
KAFKA_API_SECRET=your_api_secret

# OpenWeatherMap configuration
OPENWEATHER_API_KEY=your_openweathermap_api_key
CITY=Toronto

# PostgreSQL configuration
POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=weather_db 